$ColorWhite: #FFFF;
$ColorDark: rgb(52, 58, 64);
$PrimaryColor: #68B9F0;
$SecondaryColor: #E1E5E5;
$BackgroundColor1: #E1E5E5;
$BackgroundColor2: #68B9F0;
$ColorHeader: #AEDAF3;
$Shadow: 10px 7px 20px #000000;

.DevSectionBackground {
    z-index: 10;
    padding: 2.5rem 4rem 3rem;
}

.DevSection {
    z-index: 100;
    box-shadow: 14px 9px 20px #000000;
    margin-bottom: 1em;

    .DevSection-Title {
        font-size: calc(1.7rem + 0.5vw);
        margin-top: 1em;

    }

    .DevSection-Date {
        font-size: calc(0.8rem + 0.5vw);
        margin-bottom: 1.3em;
    }

    .DevSection-SubTitle {
        font-size: calc(1.1rem + 0.5vw);
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .DevSection-Content {
        font-size: calc(0.7rem + 0.5vw);
        padding-bottom: 0.4em;
    }

    .Primary-Section {
        padding-top: 1em;
        padding-bottom: 4em;
        background: $PrimaryColor;
    }

    .Secondary-Section {
        background: $SecondaryColor;
        padding-bottom: 4em;
    }

}