$Shadow: 10px 7px 20px #000000;
;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #E1E5E5;
    overflow-x: hidden;
    overflow: overlay;


}



.Titulo {
    font-size: calc(2rem + 0.5vw);
    margin: 0 0em 2.5rem;

}

.Estrofa {

    font-size: calc(0.7rem + 0.7vw);
}

.Button-Nav {
    display: block;
    flex: none;
}


.Nav-Button {
    margin: 2vw;
}

i {
    color: #000000;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 3rem;
}



@media (min-width:550px) {
    .Estrofa {

        font-size: calc(0.9rem + 0.7vw);
        margin: 7vw 0vw;
    }

    .Verso {
        margin: 3vw 0;
    }
}


@media (max-width:550px) {
    .Estrofa {

        margin: 13vw 1vw;
    }

    .Verso {
        margin: 4vw 0;
    }
}

@media (max-width:400px) {
    .Estrofa {

        margin: 20vw 1.8vw;
    }

    .Verso {
        margin: 7vw 0;
    }
}